html {
    box-sizing: border-box;
}

/*  *=> означава всички елементи в body-то */
body, *, *:before, *:after {
    box-sizing: inherit;
}

section {    
    border: 3px dotted rgb(25, 200, 128);
    width: 250px;
    height: 250px;  
}

p {
    border: 3px solid rgb(9, 54, 202);
    padding: 20px;
    text-align: center;
    width: 100%;
}

section h1 {
    text-align: center;
}