.navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}

.logo-wrapper {
    max-width: 120px;
}

.logo-wrapper img {
    width: 100%;
}

.sign-in-btn {
    background: #E50914;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 8px 15px;
}